@font-face {
    font-family: 'ringbearermedium';
    src: url('/fonts/ringm___-webfont.woff2') format('woff2'),
        url('/fonts/ringm___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --red-color: #8C3414;
    --light-yellow-color: #e8d069;
    --dark-yellow-color: #D98B2B;
    --black-color: #000000;

}

body,
html {
    margin: 0;
}

body {
    display: grid;
    grid-template-areas:
        'main'
    ;
    line-height: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: fit-content;
    background-color: var(--red-color);
    height: 100vh;
    /* overflow: hidden; */
}




/*#region----------------------------------MAIN-------------------------------------------------*/



main {
    grid-area: main;
    background-color: var(--red-color);
    /* height: 100vh; */
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'ringbearermedium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    padding: 0.25rem;
    font-size: 32px;
    margin: 0 auto;
}

h2 {
    font-family: 'ringbearermedium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.25rem;
    font-size: 24px;
}

p {
    padding: 0.25rem;
}

a:focus {
    color: var(--dark-yellow-color);
}


/*#endregion*/

/*#region----------------------------------QUOTE SECTION----------------------------------------*/




#quote-section {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-image: url("/images/quotes-background.jpg");
    /* background-color: var(--dark-yellow-color); */
    color: var(--light-yellow-color);
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    max-height: 30%;
    flex-wrap: wrap;
    padding: 0.8rem 0 1rem 0;
    border-bottom: 5px black solid;
}

#quote {
    flex: 1;
    font-family: 'ringbearermedium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.25rem;
    margin: 0 1rem 0 1rem;
    font-size: 28px;
    max-width: max-content;
    border-bottom: 1px var(--light-yellow-color) solid;
}

.link-button {
    margin: 0.25rem;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 6px 15px;
    margin: 0 20px;
    font-size: 14px;
    text-decoration: none;
    color: rgba(140, 52, 20, 0.7);
    background-color: black;
    border-radius: 8px;
    outline: none;
    transition: 0.5s transform, 0.5s box-shadow, 0.5s color, 0.5s background-color;
}

.link-button:hover {
    color: rgba(140, 52, 20, 1);
}

#points {
    font-weight: 700;
    padding: 6px;
}

#game-counter {
    font-size: 14px;
}

#previous-answers{
    text-align: center;
    width: 100%;
    color: var(--dark-yellow-color);
    display: none;
}

#previous-answers p {
    padding: 0.25rem 0 0.25rem 0;

}

#answers-span {
    font-family: 'ringbearermedium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 0.5px var(--dark-yellow-color) solid;
}



/*#endregion*/


/*#region----------------------------------PHOTO SECTION----------------------------------------*/




#photo-section {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: var(--red-color);
    color: var(--dark-yellow-color);
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background-image: url("../images/background2.jpg"); 
    padding: 20px 0 20px 0;
    position: relative;
}

form {

    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 75%;
}

article {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    flex: 1;
    height: min-content;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 auto;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin: 0 auto;
}

li {
    flex: 1;
    width: 100%;
    height: auto;
    max-height: max-content;
    margin: 0 auto;
    border-radius: 8px;
    padding: 0 0.5rem 0 0.5rem;
}

figure {
    max-height: 300px;
    max-width: 200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

img {
    max-height: 280px;
    max-width: 200px;
    border-radius: 8px;
    width: 100%;
    height: auto;
    /* box-shadow: 3px 3px 2px 2px #02234047; */
    transition: 0.5s transform, 0.5s box-shadow;
}

.names-button {
    font-family: 'ringbearermedium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    margin: 4px 0 4px 0;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: var(--light-yellow-color);
    border-radius: 8px;
    outline: none;
    text-shadow: 3px 2px #02234047;
    
}

input[type="radio"] {
    height: 20px;
    width: 20px;
    margin: 0 auto;
    display: block;
}

#submit-button {
    font-family: 'ringbearermedium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    margin: 4px;
    padding: 5px 40px 5px 40px;
    /* text-align: center; */
    font-size: 18px;
    text-decoration: none;
    color: rgba(217, 139, 43, 0.6);
    background-color: var(--black-color);
    border-radius: 8px;
    outline: none;
    transition: 0.5s transform, 0.5s box-shadow, 0.5s color, 0.5s background-color;
    box-shadow: 3px 3px 2px 2px #02234047;
    position: absolute;
    right: 15px;
    top: 300px;

}

#submit-button:hover {
    color: rgba(217, 139, 43, 1);
}

/*#endregion*/

/* NEW */
.movie {
    position: absolute;
    left: 20px;
    top: 100px;
    border-bottom: 2px solid;
    font-size: 26px;
    color: var(--light-yellow-color);
}

.character {
    position:absolute;
    left: 20px;
    top: 450px;
    border-bottom: 2px solid;
    font-size: 26px;
    color: var(--light-yellow-color);
}


#points {
    color: #ffffff;
}

#movie-photos {
    padding-bottom: 15px;
}

#movie-photos img {
    border: 3px solid rgba(232, 208, 105, 0.3);
    transition: 0.5s transform, 0.5s border, 0.5s color, 0.5s background-color;
}

#movie-photos img:hover{
    border: 3px solid rgba(232, 208, 105, 1);
}

#movie-photos .names-button {
    display:none;
}

#character-photos {
    border-top: 2px solid #000000;
    padding-top: 15px;
}


#character-photos .names-button {
    background-color: #000000;
    color: rgba(232, 208, 105, 0.3);
    width: 200px;
    margin-top: -5px;
    padding: 0.25rem 0 0.25rem 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /* box-shadow: 3px 3px 2px 2px #02234047; */
}

#character-photos .names-button input {
    display:none;
}

#character-photos li img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 3px solid rgba(232, 208, 105, 0.3);
    border-bottom: none;
    transition: 0.5s transform, 0.5s border, 0.5s color, 0.5s background-color;
    max-height: 250px;
}

 #character-photos li:hover img {
    border: 3px solid rgba(232, 208, 105, 1);
    border-bottom: none;
} 

#character-photos li p {
    border: 3px solid rgba(232, 208, 105, 0.3);
    border-top: none;
    color: rgba(232, 208, 105, 1);
    margin: 0 0 0 5px;
    transition: 0.5s transform, 0.5s border, 0.5s color, 0.5s background-color;
}

#character-photos li:hover p{
    border: 3px solid rgba(232, 208, 105, 1);
    border-top: none;
    color: rgba(232, 208, 105, 1);
}

/* END NEW */







/*#region----------------------------------MEDIA QUERIES----------------------------------------*/





@media all and (max-width:885px) {

    body {
        overflow: auto;
    }

    #quote-section {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        height: auto;
        padding: 0;
    }

    #quote-article {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        height: auto;
        padding: 0;
    }

    #quote-section>h3 {
        padding: 0.5rem 0 0 0;
    }

    #quote {
        padding: 0;
    }
}

@media all and (max-width:550px) {

    #quote-section {
        position: sticky;
        left: 0;
        bottom: 0;
    }

    #quote {
        font-size: 24px;
    }
}

/*#endregion*/