@font-face {
  font-family: 'ringbearermedium';
  src: url('/fonts/ringm___-webfont.woff2') format('woff2'),
      url('/fonts/ringm___-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --red-color: #8C3414;
  --yellow-color: #D98B2B;
  --black-color: #000000;
}

body,
html {
    margin: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
  height: fit-content;
}

h1 {
  text-transform: uppercase;
  margin: 0 auto;
}

/* Highscore */
.highscore {
  background-image: url("../images/background.jpg") 
}

li {
  margin: 0 auto;
  list-style: none;
  font-size: 20px;
}

.quotes-list{
  padding: 2rem 1rem 1rem 1rem;
  margin: 0 auto;
  max-width: 750px;
  text-align: left;
  color: var(--yellow-color);
}

#quotes-list-span {
  font-family: 'ringbearermedium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
}

#quotes-list-character-span {
  border-top: 1px var(--yellow-color) solid;
}

.quotes-h3{
  padding-top: 2rem;
  font-size: 28px;
  text-align: center;
  color:#e8d069;
}

.highscore h1, .highscore
h2 {
  font-family: 'ringbearermedium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 6px 4px #000000;
  text-align: center;
}

.highscore h1 {
  padding: 6rem 1rem 3rem 1rem;
  font-size: 80px;
  color: #e8d069; 
}

/* 
#D98B2B
#8C3414
#e8d069
*/

.highscore h2 {
  padding: 2rem;
  font-size: 65px;
  color: white;
}

.retry, .main-menu {
  display: block;
  margin: 0 auto;
  font-family: 'ringbearermedium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 36px;
  color: rgba(232, 208, 105, 0.3);
  background-color: transparent;
  border: none;
}

.retry:hover, .main-menu:hover {
  color: rgba(232, 208, 105,1);
  cursor: pointer;
  /* border: solid rgba(232, 208, 105,1); */
}






