@font-face {
    font-family: 'ringbearermedium';
    src: url('../../assets/fonts/ringm___-webfont.woff2') format('woff2'),
         url('../../assets/fonts/ringm___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin-left: 20px;
}

img {
    width: 500px;
}

h1 {
    font-family: 'ringbearermedium', Arial, sans-serif;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

header h1 {
    font-size: larger;
}