</main>
    <footer>
        <p>&copy;2023 <a href="/index">The Oldies</a> - <a href="/privacy">Privacy Policy</a></p>
    </footer>
    <% if (dataGame.headerTitle == "10 Rounds" || dataGame.headerTitle == "Sudden Death" ) {%>
        <script>
              window.onload = () => {
                let timeoutId = 0;
                let feedbackmessage = document.getElementById('addedToList');
                clearTimeout(timeoutId); // cancel any existing timeout
                timeoutId = setTimeout(() => {
                    feedbackmessage.classList.remove("pulse-fade");
                    feedbackmessage.textContent = "";
                }, 5000); // hide the message after 5 seconds
              };
          </script> 
        <%}%>
</body>
</html>