<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
    <script defer src="/js/button.js"></script>
    <title><%- dataGame.headerTitle %></title>
</head>

<body>
    <header>
        <section id="header-section">
            <container id="header-container">
                <button id="home-button">
                    <a href="/index">Home</a>
                </button>
                <h1><%- dataGame.headerTitle %></h1>
                <button onclick="myFunction()" id="profile-button">Menu
                    <div id="myDropdown" class="dropdown-content">
                        <a href="/landing">All games</a>
                        <a href="/account">Account</a>
                        <a href="/blacklist">Blacklist</a>
                        <a href="/favorites">Favorites</a>
                        <a href="/highscore">Highscores</a>
                    </div>
                </button>
            </container>
        </section>
    </header>
    <main>