<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="https://kit.fontawesome.com/16f82f83a9.js" crossorigin="anonymous"></script>

    <% if (dataGame.gameType=="quiz" || dataGame.gameType=="sudden_death" ) {%>
    <script defer src="/js/quizSelector.js"></script>
    <script src="/js/blacklistPopUp.js"></script>
    <%}%>

            <script defer src="/js/dropdownMenu.js"></script>

            <% if (dataGame.headerTitle=="Favorites" || dataGame.headerTitle=="Blacklist" ) {%>
    <script defer src="/js/collapsible.js"></script>
    <script defer src="/js/textfile.js"></script>
    <%}%>

                    <title><%- dataGame.headerTitle %></title>
</head>

<body>
    <header>

        <container id="header-container">

            <a href="/index"><button id="home-button">Home
                </button></a>
            <h1><%- dataGame.headerTitle %></h1>
            <button onclick="toggleDropDownMenu()" id="profile-button">Menu
                <div id="myDropdown" class="dropdown-content">
                    <a href="/">All games</a>
                    <a href="/account">Account</a>
                    <a href="/blacklist">Blacklist</a>
                    <a href="/favorites">Favorites</a>
                    <a href="/highscore">Highscores</a>
                    <a href="/logout">Logout</a>
                </div>
            </button>
        </container>

    </header>
    <main>