<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon-landing.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>
    <script src="js/hashpassword.js"></script>
    <title>Account</title>
</head>
<body class ="account-page">
<header>
    <button onclick="history.back(-1)" class = "button-account">Go Back</button>
</header>
    <div class="login-page">
        <div class="form">
            <img src="images/profile-avatar.png" width = 100 height = 100 >
            <form class = "login-form" action="/account" method="POST">

                <%if (error !="" ){%>
                    <p id="create-error"><%- error %></p>
                    <%}%>
                    <% if(success != "") {%>
                        <p id="create-success"><%- success %></p>
                        <%}%>
                <label for="name">Change Name</label><br />
                
                                   
                <input type = "text" name="oldname" placeholder= "<%- userData.name %>" readonly><br/>
                <input type = "text" name="newname" placeholder= "New name:"><br />
                <input id="name-submit" type="submit" name="nameSubmit" value="Submit">
                <br>
                <br>
                <label for="ww">Change Password</label><br>
                
                <input class="pwd" type="password" name="wwOld" placeholder ="Current password:"><br>
                <input class="pwd" type="password" name="wwNew" placeholder ="New password:"><br>
                <input onclick="mySubmit(this)" id="password-submit" type="submit" name="passwordSubmit" value="Submit">
         
            </form>  
        </div>
    </div>
    <div id="space"></div>
</body>
</html>