<%- include("partials/header") %>

    <div class="login-page">
        <div class="form">
            <form class = "login-form" action="/login" method="POST">
                <!-- <label for="name">Naam</label><br /> -->
                <input type = "text" name="name" placeholder= "Name: <%- userData.name %>" readonly><br/>
                <input type = "text" name="name" placeholder= "New name:"><br />
                <!-- <label for="ww">Wachtwoord</label><br> -->
                <input id="pwd" type="password" name="wwOld" placeholder ="Type old password:"><br>
                <input id="pwd" type="password" name="wwNew" placeholder ="New password:"><br>
                <input id="login-submit" type="submit" name="submit" value="Submit">
         
            </form>  
    </div>
    </div>
</main>
</body>
</html>