<%- include("partials/header") %>

    <section id="quotes-section">
        <article id="movie-quotes">
            <article class="quote">
                <p>"All we have to decide is what to do <br> with the time that is given us"</p>
            </article>
            <article class="quote">
                <p>"All we have to decide is what to do <br> with the time that is given us"</p>
            </article>
            <article class="quote">
                <p>"All we have to decide is what to do <br> with the time that is given us"</p>
            </article>
            <article class="quote">
                <p>"All we have to decide is what to do <br> with the time that is given us"</p>
            </article>
            <article class="quote">
                <p>"All we have to decide is what to do <br> with the time that is given us"</p>
            </article>
        </article>
        <article id="character">
            <article class="name">
                <p>Gandalf<span> (0)</span></p>
            </article>
            <article class="name">
                <p>Gandalf<span> (0)</span></p>
            </article>
            <article class="name">
                <p>Gandalf<span> (0)</span></p>
            </article>
            <article class="name">
                <p>Gandalf<span> (0)</span></p>
            </article>
            <article class="name">
                <p>Gandalf<span> (0)</span></p>
            </article>
        </article>
    </section>
    </main>
    </body>

    </html>