<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>
    <script src="js/hashpassword.js"></script>
    <title>Home</title>
</head>

<body>

    
        <div class="login-page">
            <div class="form">
                <form action="/create" method="POST" class="register-form">
                    <input type="text" name="name" placeholder="Name (Aa-Zz 1-9)">
                    <%if (error !="" ){%>
                        <p id="create-error"><%- error %></p>
                        <%}%>
                            <input type="password" id="pwd" name="ww" placeholder="Password"><br>
                            <input onclick="mySubmit(this)" type="submit" name="submit" value="Create Account">
                            <p class="message">Have an account already? <a href="/login">Login</a></p>
                </form>

            </div>
        </div>
</body>

</html>