<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>
    <script src="js/hashpassword.js"></script>
    <title>Document</title>
</head>
<body>
    <form action="/create" method="POST">
        <label for="name">Naam</label><br />
        <input name="name"><br ?>
        <label for="ww">Wachtwoord</label><br>
        <input id="pwd" type="password" name="ww"><br>
        <input onclick="mySubmit(this)" type="submit" name="submit" value="Account aanmaken">
    </form><br>
</body>
</html>