<%- include("partials/header") %>

        <section id="landing-lotr-container">
            <article class="landing-lotr-choice">
                <a href="#">
                    <img src="assets/images/png/10-rounds.png" alt="10rounds">
                    <figcaption>Play 10 rounds and get the highest score</figcaption>
                </a>
            </article>

            <article class="landing-lotr-choice">
                <a href="#">
                    <img src="assets/images/png/sudden-death.png" alt="sudden-death">
                    <figcaption>Play until failure</figcaption>
                </a>
            </article>
        </section>

    </main>

</body>

</html>