<%- include("partials/header") %>
    <div id="landing-lotr">
        <section id="landing-lotr-container">
            <article class="landing-lotr-choice">
                <a href="/quiz">
                    <img src="/images/10-rounds.png" alt="10rounds">
                </a>
            </article>

            <article class="landing-lotr-choice">
                <a href="/sudden_death">
                    <img src="/images/sudden-death.png" alt="sudden-death">
                </a>
            </article>
        </section>
    </div>
    </main>

    </body>

    </html>