<%- include("partials/header") %>

    <div id="index">
        <p id="welcome-message">Welcome <%- userData.name %>!</p>
        <% if(alertstate != null){ %>
            <p style="text-align: center; background-color: red; color: white;"><%= alertstate %></p>
        <%}%>
        <section id="index-container">
            <article class="index-choice">
                <a href="/quiz">
                    <img src="/images/10-rounds.png" alt="10rounds">
                </a>
                <div class="index-tutorial">
                    <p>Pick the right movie and character and get the most points in 10 rounds. Each correct answer is
                        0.5 points.</p>
                </div>
            </article>

            <article class="index-choice">
                <a href="/sudden_death">
                    <img src="/images/sudden-death.png" alt="sudden-death">
                </a>
                <div class="index-tutorial">
                    <p>Pick the right movie and character. Play until failure.</p>
                </div>
            </article>
        </section>
    </div>
    </main>

    </body>

    </html>