<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Home</title>
  </head>

  <body class="landing-page">
    <header>
      <h1>THE OLDIES</h1>
      <div class = "buttons">
      <button class = "button">Log-in</button>
    </div>
    </header>

    <main class = "projects">
      <section>
        <a href="#"> <figure>
          <img
            src="/API_pagina/assets/images/png/pngimg.com - fifa_PNG26.png"
            alt="fifa"

          />
          <!-- <figcaption>Bron: Wikipedia.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="#"><figure>
          <img src="/API_pagina/assets/images/png/characters-fortnite-icon-moxalis-deviantart-23.png" alt="fortnite" />
          <!-- <figcaption>Bron: gamecomputers.nl</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="#"><figure>
          <img
            src="/API_pagina/assets/images/png/LEGO-Logo-1952.png"
            alt="lego"
          />
          <!-- <figcaption>Bron: Wikipedia.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="#"> <figure>
          <img
            src="/API_pagina/assets/images/png/Magic-The-Gathering-Logo-1993.png"
            alt="MTG"
          />
          <!-- <figcaption>Bron: Fandom.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="#"> <figure>
          <img
            src="/API_pagina/assets/images/svg/nbb.svg"
            alt="nbb"
          />
          <!-- <figcaption>Bron: nbb.be</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="#"> <figure>
          <img
            src="/API_pagina/assets/images/png/International_Pokémon_logo.svg.png"
            alt="pokemon"
          />
          <!-- <figcaption>Bron: Wikipedia.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="index.html">
        <figure>
          <img
            src="/API_pagina/assets/images/png/lord-of-the-rings-png-title-logo-1.png"
            alt="LOTR"
          />
          <!-- <figcaption>Bron: nerdist.com</figcaption> -->
        </figure></a>
      </section>
    </main>
  </body>
</html>