<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Home</title>
  </head>

  <body class="landing-page">
    <header>
      <h1>THE OLDIES</h1>
      <div class = "buttons">
        <% if(!loggedIn) { %>
      <button onclick="window.location.href='/login';" class = "button">Log-in</button>
      <% } %>
    </div>
    </header>

    <main class = "projects">
      <section>
        <a href="" class ="errorMessage"> <figure>
          <img
            src="/images/landing/pngimg.com - fifa_PNG26.png"
            alt="fifa"

          />
          <!-- <figcaption>Bron: Wikipedia.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"><figure>
          <img src="/images/landing/characters-fortnite-icon-moxalis-deviantart-23.png" alt="fortnite" />
          <!-- <figcaption>Bron: gamecomputers.nl</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"><figure>
          <img
            src="/images/landing/LEGO-Logo-1952.png"
            alt="lego"
          />
          <!-- <figcaption>Bron: Wikipedia.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"> <figure>
          <img
            src="/images/landing/Magic-The-Gathering-Logo-1993.png"
            alt="MTG"
          />
          <!-- <figcaption>Bron: Fandom.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"> <figure>
          <img
            src="/images/landing/logo-nl.svg"
            alt="nbb"
          />
          <!-- <figcaption>Bron: nbb.be</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"> <figure>
          <img
            src="/images/landing/International_Pokémon_logo.svg.png"
            alt="pokemon"
          />
          <!-- <figcaption>Bron: Wikipedia.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="/index">
        <figure>
          <img
            src="/images/landing/lord-of-the-rings-png-title-logo-1.png"
            alt="LOTR"
          />
          <!-- <figcaption>Bron: nerdist.com</figcaption> -->
        </figure></a>
      </section>
    </main>

    <% if(loggedIn) { %>
    <script> const errorAlerts = document.querySelectorAll(".errorMessage"); 
      console.log(errorAlerts);
      errorAlerts.forEach(alertMessage => {
      alertMessage.onclick = () => {
      alert('Je hebt geen toegang tot dit spel!');
    };}); </script>
    <% } else {%>
      <script> const errorAlerts1 = document.querySelectorAll(".errorMessage"); 
        console.log(errorAlerts1);
        errorAlerts1.forEach(alertMessage1 => {
        alertMessage1.onclick = () => {
        alert('Log eerst in a.u.b.');
      };}); </script>

      <% } %>

    

  </body>
</html>