<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Home</title>
  </head>

  <body class="landing-page">
    <header>
      <h1>THE OLDIES</h1>
      <div class = "buttons">
        <% if(!loggedIn) { %>
      <button onclick="window.location.href='/login';" class = "button">Log-in</button>
      <% } else {%>       
        <button onclick="window.location.href='/account';" class = "button">Account</button>
        <button onclick="window.location.href='/logout';" class = "button">Log-out</button>
        <% }%>
    </div>
    </header>

    <main>

      <div id = "viewErrorMsg">
      <p>Je hebt geen toegang tot dit spel!</p></div>

      <section class = "projects">
      <section>
        <a href="" class ="errorMessage"> <figure>
          <img
            src="/images/landing/pngimg.com - fifa_PNG26.png"
            alt="fifa"

          />
          <!-- <figcaption>Bron: Wikipedia.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"><figure>
          <img src="/images/landing/characters-fortnite-icon-moxalis-deviantart-23.png" alt="fortnite" />
          <!-- <figcaption>Bron: gamecomputers.nl</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"><figure>
          <img
            src="/images/landing/LEGO-Logo-1952.png"
            alt="lego"
          />
          <!-- <figcaption>Bron: Wikipedia.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"> <figure>
          <img
            src="/images/landing/Magic-The-Gathering-Logo-1993.png"
            alt="MTG"
          />
          <!-- <figcaption>Bron: Fandom.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"> <figure>
          <img
            src="/images/landing/logo-nl.svg"
            alt="nbb"
          />
          <!-- <figcaption>Bron: nbb.be</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"> <figure>
          <img
            src="/images/landing/International_Pokémon_logo.svg.png"
            alt="pokemon"
          />
          <!-- <figcaption>Bron: Wikipedia.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <% if(loggedIn) { %>
        <a href="/index">
          <% } else {%>
            <a href="" class ="errorMessage">
            <% } %>
          
        <figure>
          <img
            src="/images/landing/lord-of-the-rings-png-title-logo-1.png"
            alt="LOTR"
          />
          <!-- <figcaption>Bron: nerdist.com</figcaption> -->
        </figure></a>
      </section>
    </section>
    </main>

    <% if(loggedIn) { %>
    <script> const errorAlerts = document.querySelectorAll(".errorMessage"); 
    const bodyMsg = document.getElementById("viewErrorMsg");
      bodyMsg.style.display = "block";
      errorAlerts.forEach(alertMessage => {
      alertMessage.onclick = () => {
      // alert('Je hebt geen toegang tot dit spel!');
      bodyMsg.style.display = "none";
      // const errorMessage = document.createElement("h3");
      // errorMessage.textContent = "Je hebt geen toegang tot dit spel!";
      // alertMessage.parentNode.appendChild(errorMessage);
    };}); </script>
    <% } else {%>
      <script> const errorAlerts1 = document.querySelectorAll(".errorMessage"); 
        console.log(errorAlerts1);
        errorAlerts1.forEach(alertMessage1 => {
        alertMessage1.onclick = () => {
        // const viewErrorMsg = document.getElementsByClassName("viewErrorMsg")[0];
        // viewErrorMsg.style.display = block;
        // alert('Log eerst in a.u.b.');
      };}); 
      
    </script>

      <% } %>

   

  </body>
</html>