<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Home</title>
  </head>

  <body class="landing-page">
    <header>
      <h1>THE OLDIES</h1>
      <div class = "buttons">
        <% if(!loggedIn) { %>
      <button onclick="window.location.href='/login';" class = "button">Log-in</button>
      <% } else {%>       
        <button onclick="window.location.href='/account';" class = "button">Account</button>
        <button onclick="window.location.href='/logout';" class = "button">Log-out</button>
        <% }%>
    </div>
    </header>
    <div id = "viewErrorMsg">
      <p class = "viewMsg">
        <% if(loggedIn) { %>
        Je hebt geen toegang tot dit spel!
      <% } else { %>
        Log eerst in a.u.b.
        <% } %>
      </p>
    </div>
    <main>

      
    
      <section class = "projects">
      <section>
        <a href="" class ="errorMessage"> <figure>
          <img
            src="/images/landing/pngimg.com - fifa_PNG26.png"
            alt="fifa"

          />
          <!-- <figcaption>Bron: Wikipedia.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"><figure>
          <img src="/images/landing/characters-fortnite-icon-moxalis-deviantart-23.png" alt="fortnite" />
          <!-- <figcaption>Bron: gamecomputers.nl</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"><figure>
          <img
            src="/images/landing/LEGO-Logo-1952.png"
            alt="lego"
          />
          <!-- <figcaption>Bron: Wikipedia.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"> <figure>
          <img
            src="/images/landing/Magic-The-Gathering-Logo-1993.png"
            alt="MTG"
          />
          <!-- <figcaption>Bron: Fandom.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"> <figure>
          <img
            src="/images/landing/logo-nl.svg"
            alt="nbb"
          />
          <!-- <figcaption>Bron: nbb.be</figcaption> -->
        </figure></a>
      </section>
      <section>
        <a href="" class ="errorMessage"> <figure>
          <img
            src="/images/landing/International_Pokémon_logo.svg.png"
            alt="pokemon"
          />
          <!-- <figcaption>Bron: Wikipedia.com</figcaption> -->
        </figure></a>
      </section>
      <section>
        <% if(loggedIn) { %>
        <a href="/index">
          <% } else {%>
            <a href="" class ="errorMessage">
            <% } %>
          
        <figure>
          <img
            src="/images/landing/lord-of-the-rings-png-title-logo-1.png"
            alt="LOTR"
          />
          <!-- <figcaption>Bron: nerdist.com</figcaption> -->
        </figure></a>
      </section>
    </section>
    </main>
      <script>
        let timeoutId;
        const errorAlerts = document.querySelectorAll(".errorMessage");
        errorAlerts.forEach(alertMessage => {
          alertMessage.onclick = () => {
            const viewMsg = document.getElementsByClassName("viewMsg")[0];
            clearTimeout(timeoutId); // cancel any existing timeout
            viewMsg.style.display = "block";
            timeoutId = setTimeout(() => {
              viewErrorMsg.style.display = "none";
            }, 5000); // hide the message after 5 seconds
          };
        });
      </script>  
  </body>
</html>